* {user-select: none;}
h1 {font-size: 1.3rem; text-align: center; padding-top: 2rem;}
.center {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#inputs {margin-top: 6rem; pointer-events: none; text-align: center;}
    #inputs input[type="number"] {width: 5rem;}
#inputs:hover {opacity: 0.3;}

/* IMAGE with VALUE-BAR STYLES */
.touchy {cursor: ns-resize;}
#image {width: 4rem; height: 4rem; background: url('../image.png') center center; background-size: cover;}
    #image div {position: absolute; right: -0.5rem; bottom: 0; width: 0.5rem; background: lightcoral; height: 50%;}
